/* * * MAIN STYLES * * * * * * * * * * * * * */

* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

html,
body {
    height: 100%;
}

body {
    width: 100%;
    margin: 0 auto;
    background: #4b84be;
    background: -webkit-linear-gradient(#4ba1be, #4b84be);
    background: -o-linear-gradient(#4ba1be, #4b84be);
    background: -moz-linear-gradient(#4ba1be, #4b84be);
    background: linear-gradient(#4ba1be, #4b84be);
    background-attachment: fixed
}

.container {
    float: left;
    width: 80%;
    padding: 5% 10%;
}

#main-container {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 25%;
}

#new-thought-container {
    grid-column: 1 / span 3;
}

#secondary-container {
    grid-column: 4 / span 1;
}


/* * * TYPE * * * * * * * * * * * * * * * * */

input {
    color: white;
    background: none!important;
    border: none;
    padding: 0!important;
    cursor: pointer;
}

input:hover {
    text-decoration: underline;
}

textarea {
    color: black;
}

#past-thoughts {
    list-style-type: none;
}

li {
    margin: 10px 0;
}


/* * * RESPONSIVITY * * * * * * * * * * * * */

@media screen and (max-width: 800px) {
    .left,
    .main,
    .right {
        width: 100%;
    }
}