/* * * MAIN STYLES * * * * * * * * * * * * * */

* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

html,
body {
    height: 100%;
}

body {
    width: 100%;
    margin: 0 auto;
    background: #4b84be;
    background: -webkit-linear-gradient(#4ba1be, #4b84be);
    background: -o-linear-gradient(#4ba1be, #4b84be);
    background: -moz-linear-gradient(#4ba1be, #4b84be);
    background: linear-gradient(#4ba1be, #4b84be);
    background-attachment: fixed
}

.container {
    float: left;
    width: 60%;
    padding: 5% 20%;
}


/* * * TYPE * * * * * * * * * * * * * * * * */

input {
    color: white;
    background: none!important;
    border: none;
    padding: 0!important;
    cursor: pointer;
}

input:hover {
    text-decoration: underline;
}

textarea {
    color: black;
}


/* * * RESPONSIVITY * * * * * * * * * * * * */

@media screen and (max-width: 800px) {
    .left,
    .main,
    .right {
        width: 100%;
    }
}